/* Style.css*/
body{
    width: fit-content;
    padding: 1em;
    margin: 3em;
}
p{
    color:blue;
    text-align: center;

}

h3{
    color:rgb(105, 202, 202);
}

h2{
    color: #c9c9c9;
}

.BlueColor{
    color: blue;
}

.RedColor{
    color: red;
}
